<launch>
  <arg name="grasp_topic" default="/detect_grasps/clustered_grasps"/>

  <node pkg="jetarm_ui" type="gpd_grasp_node.py" name="gpd_grasp" output="screen">
    <param name="grasp_topic" value="$(arg grasp_topic)"/>
    <rosparam param="pick_bounds">
      x_min: 0.22
      x_max: 0.95
      y_min: -0.35
      y_max: 0.40
      z_min: -0.20
      z_max: 0.18
    </rosparam>
    <rosparam param="preferred_point">
      x: 0.45
      y: 0.00
      z: 0.00
    </rosparam>
    <param name="z_offset" value="0.00"/>
  </node>
</launch>
